<!--<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>

   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
   </body>
</html>
-->
<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>

   <body>
		<h1>Actuators</h1>
        <h2>The date and time on the server is: {{ time }}</h2>
		<h2> Status </h2>
		<h3> Motor Throttle ==>  {{ motorThrottle  }}</h3>
		<h3> Motor Direction ==>  {{ motorDirection  }}</h3>
		<br>
		<h2> Commands </h2>
		<h3>
			Motor Throttle Ctrl ==>
			<a href="/motorThrottle/on" class="button">TURN ON</a>
			<a href="/motorThrottle/off"class="button">TURN OFF</a>
		</h3>
		<h3>
			Motor Direction Ctrl ==>
			<a href="/motorDirection/on" class="button">TURN ON</a>
			<a href="/motorDirection/off"class="button">TURN OFF</a>
		</h3>
   </body>
</html>